body, html{
  font-family: sans-serif, "Lato";
  font-weight: 400;
  color: #666
}


.navbar {
    margin-bottom: 0px;
}


header {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../images/laptop2.jpg');
  min-height: 400px;
}

.pimg2 {
  background-image: url('../images/code.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../images/sketch.jpg');
  min-height: 400px;
}


.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: transparent;
  padding: 20px;

}

footer{
  background-color: #3E4551;
  color: aliceblue;
}

@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
